* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFD580;
    background-repeat: no-repeat;
}

#wel {
    text-align: center;
}


/* Account Icon */

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    float: right;
    margin: 5px;
}

#clicky {
    text-align: left;
    background-color: #8BC6EC;
}


/* Image */

#droney {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    border: 1px solid purple;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story {
    border: 1px solid black;
    margin: 15%;
    padding: 25px;
    justify-content: center;
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    z-index: 1;
    margin-top: 50px;
}

.header {
    font-size: 2em;
    margin: 6px;
}


/* Style the button that is used to open and close the collapsible content */

.collapse {
    background-color: rgba(238, 238, 238, 0.596);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: black;
    font-size: 25px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
    background-color: #ccc;
}


/* Style the collapsible content. Note: hidden by default */

.collapsecont {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


/* careful with percentages */

#map {
    width: 100%;
    height: 500px;
}

#weather {
    padding-top: 5px;
    margin: 9px;
}

.legend {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 35px;
}

.weath {
    text-align: center;
}


/* Everything with glass morphism */

.glass {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    margin: auto;
}

.glass .cards {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.glass .cards .therein {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    transform: translateZ(20px);
    opacity: 0;
    transition: 0.5s;
    font-size: 2em;
    pointer-events: auto;
    position: absolute;
}


/* Cards hover effect */

.cards a {
    transition: 0.5s;
}

.cards img:hover {
    transform: translateY(15px);
    opacity: 0;
    transition: 0.25s;
}

.cards img {
    transform: translateY(0px);
    opacity: 100;
}

.glass .cards:hover .therein {
    transform: translateY(0px);
    opacity: 100;
}

.glass .cards .therein a {
    padding: 8px 20px;
    display: inline-block;
    margin-top: 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.glass .cards .therein h1 {
    justify-content: space-between;
    opacity: 25%;
}

.cards img {
    max-width: 100%;
    height: auto;
    position: relative;
    flex-direction: column-reverse;
}


/* nav bar */

nav {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: black;
}

nav>.fa-bars {
    display: none;
}


/* Removes the dot before each nav element*/

ul {
    list-style: none;
}

nav li {
    display: block;
    float: left;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}

nav li a {
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 2px;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

main h1 {
    text-align: center;
}

form {
    padding: 1rem;
    text-align: center;
}

.center {
    padding: 35px;
}

h3 {
    text-align: center;
    padding: 5px;
    margin-top: 100px;
}

footer {
    text-align: center;
    padding: 30px;
    overflow: hidden;
    margin-bottom: 5px;
}


/* FAQ section */

.faq {
    text-align: center;
}

.forms {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqp {
    text-align: center;
    padding: 3px;
}

form {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 60%;
    margin-top: 100px;
}

form>* {
    margin: 0.5rem;
}


/* Attempt to fix small webpage */

.outer {
    display: table;
    width: 100%;
    height: 100%;
}

@media(max-width: 360px) {
    nav {}
}